body {
    font-size: 16px !important;
}

.spectacle-slide {
    font-size: 1rem !important;
}
/*code, kbd, pre, samp {
    font-size: 0.7rem !important;
}*/

.max-50vw > pre {
    max-width: 50vw !important;
}

.code-pane-size-24 > pre > code {
    font-size: 24px;
    line-height: 24px;
}
.code-pane-size-28 > pre > code {
    font-size: 28px;
    line-height: 28px;
}
.code-pane-size-30 > pre > code {
    font-size: 30px;
    line-height: 30px;
}

.font-size-30 {
    font-size: 30px;
}
.font-size-30 > pre {
    height: 70vw !important;
    margin: 0px !important;
    padding: 25% 0px !important;
}

iframe {
    border: none;
}

.vh95 {
    height: 95vh;
}

iframe.zoomed1-8 {
    max-height: 70vh;
    height: 40vh;
    margin-left: -43vw;
    top: 0;
    width: 53vw;
    border: none;
    transform: scale(1.8);
    transform-origin: 0 0;
}

iframe.zoomed2 {
    max-height: 70vh;
    height: 30vh;
    margin-left: -48vw;
    top: 0;
    width: 46vw;
    border: none;
    transform: scale(2);
    transform-origin: 0 0;
}

iframe.zoomed1-5 {
    background: white;
    max-height: 70vh;
    height: 47vh;
    margin-left: -32vw;
    top: 0;
    width: 64vw;
    border: none;
    transform: scale(1.5);
    transform-origin: 0 0;
}

ul ul {
    padding-left: 35px !important;
}
.language-break {
    white-space: pre-wrap !important;
}

code[class*="language-"], pre[class*="language-"] {
    color: #ccc;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 18px;
    font-size: 18px;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.padding-top-55 pre {
    padding-top: 30% !important;
    font-size: 30px;
}

.full-height {
    height: 100%;
}
