const CurrentPostQuery = gql`
    query ThisPost($id: Int!) {
        post(id: $id) {
            title,
            body,
            createdAt,
            author {
                id
            }
        }
    }
`;