const resolvers: Resolvers = {
    Query: {
        post(obj: any, args: { id: number }) {
            return postLoader.load(args.id);
        },
        posts() {
            return postRepository.getLast(20);
        }
    },
    Mutation: {
        post(obj: {title: string, body: string}) {
            return postRepository.save({title, body});
        }
    },
    Post: {
        author(post: Post) {
            return userLoader.load(post.userId);
        },
        comments(post: Post) {
            return commentsLoader.load(post.id);
        }
    }
};